.about
  position: relative
  display: flex
  padding: 40px
  justify-content: center
  align-items: center
  gap: 40px
  flex-direction: column
  background-color: rgba($main-color, 50%)
  box-shadow: 0px 0px 10px 10px rgba($main-color, 70%)
  &__text
    max-width: 760px
    &:first-of-type
      margin-top: 0

  &__parallax
    position: absolute
    opacity: 0.5
    @media (max-width: $mobile-only)
      opacity: 0.1

  &__parallax--left
    top: 600px
    left: 50px
    @media (max-width: $mobile-only)
      top: 800px
      left: -50px

  &__parallax--right
    top: 600px
    right: 50px
    @media (max-width: $mobile-only)
      top: 1100px
      right: -50px

  &__cv-btn
    @include link-reset
    position: relative
    width: 100%
    max-width: 760px
    text-align: center
    margin: 0 auto
    padding: 8px 40px
    background-color: $main-color
    color: $white
    white-space: nowrap
    transition: $link-transition
    overflow: hidden
    cursor: $cursor-hover
    &:active
      background-color: rgba($main-color, 50%)
    &::after
      position: absolute
      top: -10px
      left: -30px
      display: block
      width: 10px
      height: 50px
      background: linear-gradient(45deg, rgba($white, 0.5), rgba($white, 0.8), rgba($white, 0.5))
      transform: rotate(30deg)
      content: ''
    &:hover::after
      animation-name: button-effect
      animation-duration: 0.7s