.contact 
  max-width: 1440px
  margin: auto
  padding-bottom: 80px

  &__wrapper 
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: 40px
    align-items: start
    @media (max-width: $mobile-only) 
      grid-template-columns: 1fr
      gap: 20px

  &__description 
    margin: 0
    font-size: 22px
    line-height: 1.4em
    text-align: justify
    @media (max-width: $mobile-only) 
      font-size: 20px
    
  &__form
    position: relative
    display: grid
    width: 100%
    grid-template-columns: repeat(2, 1fr)
    gap: 20px
    transition: 0.3s
    &-wrapper
      display: flex
      justify-content: center
      align-items: center
    @media (max-width: $mobile-only) 
      grid-template-columns: 1fr
      gap: 10px

  &__item 
    position: relative
    justify-self: stretch
    transition: 0.8s
    &--wide
      grid-column: 1/-1
    &--error
      animation-name: error-animation
      animation-duration: 0.5s

  &__field 
    display: block
    width: 100%
    padding: 10px
    margin: 0
    background-color: $white
    border-radius: 0
    border: 2px solid $main-color
    font-family: "Coolvetica", "Arial", sans-serif
    font-size: 20px
    transition: 0.4s
    &--message 
      resize: vertical
    &::placeholder 
      color: fade($main-color, 50%)
    &:hover 
      background-color: lighten($main-color, 90%)
    &:focus 
      background-color: lighten($main-color, 80%)
    &--error
      border: 2px solid $error-red

  &__submit 
    @include link-reset
    padding: 10px
    border: none
    border-radius: 0
    grid-column: 1/-1
    margin: 0
    position: relative
    background-color: $main-color
    color: $white
    white-space: nowrap
    font-size: 16px
    font-family: inherit
    overflow: hidden
    &:active
      background-color: rgba($main-color, 50%)
    &:focus-visible 
      background-color: $main-color
      color: $white
  
  &__success-message
    width: 100%
    padding: 40px
    outline: 2px solid $main-color
    text-align: center

  &__error-message
    position: absolute
    bottom: 0
    left: 50%
    transform: translateX(-50%)
    width: 100%
    margin: 0 auto
    grid-column: 1/-1
    color: transparent
    transition: 0.3s
    z-index: -1
    &--opened
      bottom: -20px
      color: $error-red