.portfolio
  @include centralize
  overflow: visible
  display: flex
  flex-direction: column
  transition: 1s
  &__list
    @include list-reset
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(80px, 420px))
    justify-content: center
    transition: 0.3s
    gap: 40px
    @media (max-width: $mobile-only)
      padding: 0
    @media (min-width: $desktop)
      gap: 120px 40px
  &__link
    @include link-reset
    display: flex
    flex-direction: column
    gap: 16px
    align-items: center
    transition: $link-transition
    cursor: $cursor-hover
