:root {
  --main-color: #1e212c;
  --tomato: #ff6347;
  --page-background: #f2f3f5;

  --white: #ffffff;
}

@keyframes link-hover {
  from {width: 0px;}
  to {width: 40%;}
}

@keyframes projects-show {
  from {transform: translateY(-120%);}
  to {transform: translateY(0)}
}

/* Global styles */

html {
  height: 100%;
  overflow: hidden;
}

body {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  height: 100%;
  perspective: 1px;
  overflow-y: scroll;
  overflow-x: hidden;
  transform-style: preserve-3d;
  font-family: 'Moulpali', sans-serif;
  background-color: var(--page-background);
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  transition: 350ms;
  -webkit-transition: 350ms;
  -moz-transition: 350ms;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1230px;
  padding: 0;
  margin: 0 auto;
}

.button {
  text-transform: uppercase;
  width: 100px;
  padding: 10px 12px;
  margin: 0;
  background-color: var(--tomato);
  border: none;
  font-size: 16px;
  color: var(--main-color);
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--main-color);
  color: var(--white);
}

.button:disabled {
  background-color: #a8a8a8;
  cursor: not-allowed;
}

/* scroll locking */

.locked {
  overflow: hidden;
}

/* Change theme */

.theme-btn {
  position: relative;
  display: block;
  width: 60px;
  height: 30px;
  background-color: var(--tomato);
  z-index: 2;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.theme-btn:focus-visible {
  outline: none;
  box-shadow: inset 0px 0px 5px rgb(0 0 0 / 75%);
}

.btn-toggle {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 10%;
  top: 5px;
  background-color: var(--main-color);
  border-radius: 50%;
}

.theme-on {
  left: 90%;
  transform: translateX(-100%);
  background-color:rgb(49, 59, 69);
}

.dark-theme {
  filter: invert(1) saturate(0.5);
}

.dark-theme-images {
  filter: invert(1) saturate(2);
}

/* Page header */

.page-header {
  margin: 0 auto;
  min-height: 100vh;
  width: 100vw;
  transform-style: inherit;
}

.page-header,
.page-header::before {
  background: 50% 50% / cover;
}

.page-header::before {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin-top: -40px;

  display: block;
  min-height: 100vh;
  background-image: url("../images/main-bg.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  transform-origin: center center 0;
  transform: translateZ(-2.5px) scale(3.5);
  
  z-index: -1;
  content: "";
}

/* Page main */

.page-main {
  position: relative;
  flex-grow: 1;
  z-index: 1;
}

.main-navigation {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0px 30px;
}

.nav-list {
  display: flex;
  padding: 0;
  margin: 0 auto;
  max-width: 800px;
  width: 100vw;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
}

.nav-item {
  position: relative;
  margin: 0 auto;
}

.nav-link {
  position: relative;
  display: inline-block;
  padding: 0.5rem 2rem;
  margin: 0;
  font-size: 1.2rem;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--main-color);
}

.nav-link::after {
  position: absolute;
  bottom: 10px;
  display: none;
  width: 1px;
  height: 2px;
  background-color: var(--main-color);
  
  content: "";
}

.nav-link:hover::after {
  display: block;
  animation: link-hover;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-duration: 0.4s;
}

.nav-link:active {
  opacity: 0.6;
}

.nav-projects-wrapper {
  position: relative;
}

.nav-link:focus-visible {
  outline: none;
  box-shadow: inset 0px 10px 20px rgb(0 0 0 / 25%);
}

.nav-projects-list {
  position: absolute;
  top: 100%;
  right: 50%;
  transform: translateX(50%);
  display: none;
  min-width: 200px;
  padding: 0;
  flex-direction: column;
  list-style-type: none;
  background-color: rgba(138, 217, 251, 0.5);
  box-shadow: 0px 10px 20px rgb(0 0 0 / 25%);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  justify-content: space-evenly;
  align-items: center;
}

.nav-projects-wrapper:hover .nav-projects-list {
  display: flex;
}
.nav-projects-wrapper:focus-within .nav-projects-list {
  display: flex;
}

.projects-opener {
  border: none;
  background: none;
  font-family: inherit;
  cursor: pointer;
}

.projects-opener-arrow {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 5px solid transparent;
  border-top: 5px solid var(--main-color);
  background-color: transparent;
}

.rotated {
  transform: translateX(50%) translateY(-50%) rotate(180deg);
}

.nav-projects-list .nav-project-item {
  margin: 0;
}

/* Burger menu */

.nav-burger-container{
  display: none;
  margin-right: auto;
  z-index: 1;
}

.burger-nav-list .nav-projects-wrapper {
  width: 50vw;
  text-align: center;
}

.burger-btn {
  position: absolute;
  top: 25px;
  left: 35px;
  width: 46px;
  height: 40px;
  padding: 8px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.burger-btn:focus-visible {
  outline: none;
  box-shadow: inset 0px 10px 20px rgb(0 0 0 / 25%);
}

.burger-line {
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 4px;
  background-color: var(--main-color);
}

.burger-line:not(:nth-child(2)) {
  width: 26px;
  margin-left: 2px;
}

.burger-line:not(:last-child) {
  margin-bottom: 6px;
}

.burger-open-first-line {
  position: absolute;
  top: 16px;
  left: 5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.burger-open-second-line {
  transform: translateX(-150px);
  -webkit-transform: translateX(-150px);
}

.burger-open-third-line {  
  position: absolute;
  top: 16px;
  left: 5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.burger-nav-list {
  position: absolute;
  top: 0;
  left: 0;
  list-style-type: none;
  background-color: rgba(138, 217, 251, 0.5);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  
  overflow: hidden;
}

.burger-nav-list.nav-list-opened {
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

.burger-nav-list .nav-list-burger {
  display: flex;
  height: 100%;
  padding: 0;
  padding-bottom: 20vh;
  margin: 0;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.nav-list-burger .nav-item {
  margin-top: auto;
}

.burger-nav-list .nav-link {
  color: var(--main-color);
  font-size: 1.6em;
}

.lowercase {
  text-transform: capitalize;
  font-size: 1.2em;
}

.social-links {
  position: relative;
  display: flex;
  padding: 10px 0;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  align-self: flex-end;
  border-top: 2px dashed var(--main-color);
}

.header-social-link {
  display: flex;
  width: 24px;
  height: 24px;
}

.header-social-link:hover {
  opacity: 0.6;
}

.header-social-link:active {
  opacity: 0.3;
}

.developer {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding: 15vh 0;
  color: var(--main-color);
  line-height: 8vh;
}

.developer .social-links {
  margin: 0 auto;
  padding: 0;
  max-width: 300px;
  width: 100%;
  border: none;
}

.dev-name {
  margin-bottom: 4vh;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
}

.dev-name + .title {
  font-size: 3rem;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
}

.portfolio {
  position: relative;
  color: var(--main-color);
}

.portfolio-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 275px);
  justify-content: center;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 80px;
  list-style-type: none;
  justify-items: center;
}

.portfolio-image-container {
  display: block;
  width: 221px;
  height: 300px;
}

.portfolio-item {
  display: grid;
  grid-template-rows: 1fr 0.2fr 0.1fr 0.6fr;
}

.portfolio-image-link {
  display: block;
  height: min-content;
  margin-bottom: 10px;
}

.portfolio-item-image:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  box-shadow: 0px 0px 40px 15px rgba(0, 0, 0, 0.25);
}

.portfolio-item-title {
  position: relative;
  margin: 0;
  max-width: 220px;
  text-transform: uppercase;
}

.portfolio-item-description {
  max-width: 220px;
}

.portfolio-links-wrapper {
  grid-row: 3 / 4;
}

.desktop {
  position: absolute;
  right: 0;
  top: 5px;
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  text-align: center;
  background-image: url("../images/icons/desktop.svg");
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: help;
}

.mobile {
  position: absolute;
  right: -2px;
  top: 40px;
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  text-align: center;
  background-image: url("../images/icons/iPhone.svg");
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: help;
}

.desktop:hover::after,
.mobile:hover::after {
  position: absolute;
  bottom: 100%;
  right: 50%;
  margin-right: -50px;
  padding: 10px;
  display: block;
  width: 100px;
  height: 50px;
  background-color: rgba(138, 217, 251, 0.5);
  box-shadow: 0px 10px 20px rgb(0 0 0 / 25%);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 4px;
  font-size: 14px;
  content: attr(data-title);
  z-index: 2;
}

.portfolio-item-link {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-position: 0 0;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.portfolio-item-link:hover {
  opacity: 0.6;
}

.portfolio-item-link:active {
  opacity: 0.3;
}

.github-link {
  margin-right: 20px;
  background-image: url("../images/icons/github-icon.svg");
}

.project-link {
  background-image: url("../images/icons/link-icon.svg");
}

/* Services section */

.services {
  background-color: rgba(138, 217, 251, 0.5);
  box-shadow: 0px 0px 20px rgb(0 0 0 / 25%);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.services .container {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 100px;
  margin-bottom: 80px;
}

.services-buttons-list {
  display: grid;
  margin-top: -65px;
  padding: 30px 0;
  list-style-type: none;
  border-right: 10px solid #000000;
}

.services-btn-item {
  margin-bottom: 50px;
}

.service-btn {
  min-width: 300px;
  padding: 14px 10px;
  border-top-left-radius: 12px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 0;

}

.service-btn-active .service-btn {
  background-color: var(--main-color);
  color: var(--white);
}

.services-btn-item:hover .service-btn {
  background-color: var(--main-color);
  color: var(--white);
}

.service-item {
  position: relative;
  display: none;
  margin: 0 auto;
}

.service-item-active {
  display: block;
}

.service-title {
  margin-top: -36px;
  font-size: 28px;
  text-transform: uppercase;
}

.service-description {
  max-width: 500px;
  font-size: 20px;
  padding-right: 50px;
  line-height: 42px;
}

.service-item::after {
  position: absolute;
  top: -80px;
  right: -160px;
  display: block;
  width: 160px;
  height: 160px;
  background-position: center;
  background-size: 160px 160px;
  background-repeat: no-repeat;
  content: "";
}

.service-idea::after {
  background-image: url("../images/services/idea.png");
}

.service-design::after {
  background-image: url("../images/services/web-design.png");
}

.service-nothing::after {
  background-image: url("../images/services/order.png");
}

.skills {
  margin-bottom: 80px;
  font-family: "Moulpali";
}

.skills .container {
  position: relative;
  padding: 0 150px;
}

.skills-list {
  display: inline-block;
  margin-bottom: 40px;
  list-style-type: none;
}

.skills .container::after {
  position: absolute;
  top: 70px;
  right: 150px;
  display: inline-block;
  width: 340px;
  height: 367px;
  background-image: url("../images/skills/skills-img.png");
  background-position: center;
  background-size: 340px 367px;
  background-repeat: no-repeat;
  content: "";
}

.skills-item::before {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  content: "";
}

.skills-item:first-child::before {
  background-image: url("../images/skills/html.png");
}

.skills-item:nth-child(2)::before {
  background-image: url("../images/skills/css.png");
}

.skills-item:nth-child(3)::before {
  background-image: url("../images/skills/java-script.png");
}

.skills-title {
  margin: 0;
  font-size: 34px;
  text-align: center;
}

.skill-name {
  display: inline-block;
  vertical-align: top;
  font-size: 24px;
  text-transform: uppercase;
}

.skill-range {
  position: relative;
  display: block;
  width: 500px;
  height: 28px;
  margin-bottom: 20px;
  border: 3px solid #2DAED7;
  border-radius: 40px;
}

.skill-value {
  position: absolute;
  left: 1px;
  top: 1px;
  display: block;
  height: 20px;
  background: linear-gradient(270deg, #3DB9FF 0%, rgba(126, 209, 255, 0.5) 100%);
  border-radius: 40px;
}

.skills-item:first-child .skill-value {
  width: 80%;
}

.skills-item:nth-child(2) .skill-value {
  width: 70%;
}

.skills-item:nth-child(3) .skill-value {
  width: 15%;
}

.certificate-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: 80px;
  list-style-type: none;
}

.certificate-item {
  display: inline-block;
}

.certificate-item:not(:last-child) {
  margin-right: 40px;
}

.certificate-image-link{
  display: block;
  height: min-content;
}

.certificate-image {
  border: 5px solid #2DAED7;
}

.certificate-image:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  box-shadow: 0px 0px 40px 15px rgba(0, 0, 0, 0.25);
}

.acquaintance {
  margin-bottom: 20px;
}

.acquaintance .container {
  display: grid;
  padding: 0 10%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.6fr 0.1fr 0.2fr 0.1fr 0.2fr;
  justify-items: center;
}

.acquaintance-image {
  padding: 0;
  margin: 0;
  grid-column: 1/2;
  grid-row: 2/-1;
  justify-self: center;
}

.acquaintance-title {
  margin: 0;
  grid-column: 1/-1;
  grid-row: 1/2;
  text-align: center;
  font-size: 34px;
}

.insection-title {
  max-width: 80%;
  padding: 0;
  margin: 30px 0;
  text-align: center;
  grid-column: 2/-1;
  grid-row: 2/3;
  font-size: 28px;
}

.insection-title:nth-of-type(2) {
  grid-row: 4/5;
}

.acquaintance-description {
  padding: 0;
  margin: 0;
  grid-column: 2/-1;
  grid-row: 3/4;
  text-align: justify;
  line-height: 2;
}

.acquaintance-description:nth-of-type(2) {
  grid-row: 5/-1;
  margin-bottom: 0;
}

.page-footer {
  padding: 5px;
  margin: 0;
  background-color: rgba(138, 217, 251, 0.5);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  z-index: 1;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-item {
  display: flex;
  align-items: center;
}

.footer-item:not(:last-child) {
  margin-right: 40px;
}

.footer-link {
  display: flex;
  align-items: center;
  padding: 0;
  text-decoration: none;
  color: #1e212c;
}

.footer-link:hover {
  opacity: 0.6;
}

.footer-link:active {
  opacity: 0.3;
}

.footer-item:nth-child(4) svg {
  margin-right: 5px;
}

.modal-container {
  position: fixed;
  top: 0%;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 20;
  transform: translateY(-110%);
  overflow: auto;
  transition: 0.8s;
  transition-timing-function: cubic-bezier(0.95,-0.83, 0.31, 1.56);
}

.modal-open {
  transform: translateY(0);
}

.modal {
  position: relative;
  margin: auto;
  padding: 40px;
}

.modal-terms {
  display: grid;
  max-width: 920px;
  width: 96vw;
  background-color: rgba(138, 217, 251, 0.5);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.modal-title,
.modal-subtitle {
  margin: 0;
}

.modal-close-btn {
  width: 26px;
  height: 26px;
  position: absolute;
  right: 40px;
  top: 40px;
  background-image: url("../images/icons/cross.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 26px 26px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-close-btn:hover {
  opacity: 0.6;
}

.modal-close-btn:active {
  opacity: 0.3;
}

.modal-agree-btn {
  margin: 0 auto;
}