html {
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

body {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  height: 100%;
  perspective: 1px;
  overflow-y: scroll;
  overflow-x: hidden;
  transform-style: preserve-3d;
  font-family: 'Moulpali', sans-serif;
  background-color: #f2f3f5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  transition: 0.3s;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1230px;
  padding: 0 40px;
  margin: 0 auto;
}

.page-header * {
  margin: 0 auto;
}

.page-header {
  margin: 40px auto 0;
  box-sizing: border-box;
  min-height: 100vh;
  width: 100vw;
  transform-style: inherit;
}

.page-header,
.page-header::before {
  background: 50% 50% / cover;
}

.page-header::before {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin-top: -40px;

  display: block;
  min-height: 100vh;
  background-image: url("../images/main-bg.jpg");
  background-size: cover;
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  
  content: "";
}

.page-main {
  position: relative;
  flex-grow: 1;
  z-index: 1;
}

.button {
  padding: 0;
  margin: 0;
  border: none;
  text-transform: uppercase;
  color: white;
  background-color: #6CB9FF;
  border-radius: 4px;
}

.title {
  font-family: 'Montserrat', sans-serif;
}

.main-navigation {
  display: flex;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: rgba(227, 227, 227, 0.5);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.nav-list {
  display: flex;
  padding: 0;
  margin: 0 auto;
  max-width: 800px;
  width: 420px;
  flex-wrap: wrap;
  list-style-type: none;
}

.nav-item {
  margin: 0 auto;
}

.nav-link {
  display: inline-block;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;
  color: #1D69AF;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-link:active {
  opacity: 0.6;
}

.nav-btn {
  margin-left: auto;
  padding: 8px 20px;
}

.button:hover {
  background-color: #1D69AF;
}

.button:active {
  color: #c0e0ff;
}

.button:disabled {
  background-color: #a8a8a8;
  cursor: not-allowed;
}



/* Burger menu */

.nav-burger-container{
  display: none;
  margin-right: auto;
  z-index: 10;
}

.burger-btn {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 40px;
  height: 40px;
  padding: 8px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.1s;
}

.burger-line {
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 4px;
  background-color: #1D69AF;
  transition: 0.2s;
}

.burger-line:not(:last-child) {
  margin-bottom: 6px;
}

.burger-open-first-line {
  position: fixed;
  top: 41px;
  right: 25px;
  transform: rotate(45deg);
}

.burger-open-second-line {
  transform: scale(0);
}

.burger-open-third-line {  
  position: fixed;
  top: 41px;
  right: 25px;
  transform: rotate(-45deg);
}

.nav-burger-container .burger-nav-list {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 50vh;
  padding: 5vh;
  list-style-type: none;
  flex-direction: column;
  background-color: rgba(227, 227, 227, 0.3);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  transform: translateY(-200%);
  transition: 0.4s;
}

.burger-nav-list.nav-list-opened {
  transform: translateY(0);
}

.burger-nav-list .nav-list-burger {
  display: flex;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  gap: 6vh;
  margin-bottom: 15vh;
}

.burger-nav-list .nav-link {
  color: #1D69AF;
  font-size: 1.6em;
}

.developer {
  text-align: center;
  padding: 100px 0;
  margin-bottom: 100px;
  color: #1D69AF;
  line-height: 8vh;
}

.dev-name {
  margin-bottom: 4vh;
}

.portfolio {
  position: relative;
}

.portfolio-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 275px);
  justify-content: center;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 80px;
  list-style-type: none;
  justify-items: center;
}

.portfolio-image-container {
  display: block;
  width: 221px;
  height: 300px;
}

.portfolio-item {
  display: grid;
  grid-template-rows: 1fr 0.2fr 0.1fr 0.6fr;
}

.portfolio-image-link {
  display: block;
  height: min-content;
}

.portfolio-item-image:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 40px 15px rgba(0, 0, 0, 0.25);
}

.portfolio-item-title {
  position: relative;
  margin: 10px 0;
  max-width: 220px;
  text-transform: uppercase;
}

.portfolio-item-description {
  max-width: 220px;
}

.portfolio-links-wrapper {
  grid-row: 3 / 4;
}

.desktop {
  position: absolute;
  right: 0;
  top: 5px;
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  text-align: center;
  background-image: url("../images/icons/desktop-monitor.png");
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: help;
}

.mobile {
  position: absolute;
  right: 0;
  top: 40px;
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  text-align: center;
  background-image: url("../images/icons/cell-phone.png");
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: help;
}

.desktop:hover::after,
.mobile:hover::after {
  position: absolute;
  bottom: 100%;
  right: 50%;
  margin-right: -50px;
  padding: 10px;
  display: block;
  width: 100px;
  height: 50px;
  background-color:rgb(227, 227, 227);
  border-radius: 4px;
  font-size: 14px;
  content: attr(data-title);
  z-index: 2;
}

.portfolio-item-link {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-position: 0 0;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.portfolio-item-link:hover {
  opacity: 0.6;
}

.portfolio-item-link:active {
  opacity: 0.3;
}

.github-link {
  margin-right: 20px;
  background-image: url("../images/icons/github-icon.svg");
}

.project-link {
  background-image: url("../images/icons/link-icon.svg");
}

.services {
  background-color: #d4eff1;
}

.services .container {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 100px;
  margin-bottom: 80px;
}

.services-buttons-list {
  display: grid;
  margin-top: -65px;
  padding: 30px 0;
  list-style-type: none;
  border-right: 10px solid #000000;
}

.services-btn-item:not(:last-child) {
  margin-bottom: 50px;
}

.service-btn {
  display: block;
  min-width: 300px;
  padding: 14px 10px;
  background-color: #c0e0ff;
  font-size: 22px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.service-btn-active .service-btn {
  background-color: #000000;
  color: #ffffff;
}

.services-btn-item:hover .service-btn {
  background-color: #000000;
  color: #ffffff;
}

.service-item {
  position: relative;
  display: none;
  margin: 0 auto;
}

.service-item-active {
  display: block;
}

.service-title {
  margin-top: -46px;
  font-size: 28px;
  text-transform: uppercase;
}

.service-description {
  max-width: 500px;
  font-size: 20px;
  padding-right: 50px;
  line-height: 42px;
}

.service-item::after {
  position: absolute;
  top: -80px;
  right: -160px;
  display: block;
  width: 160px;
  height: 160px;
  background-position: center;
  background-size: 160px 160px;
  background-repeat: no-repeat;
  content: "";
}

.service-idea::after {
  background-image: url("../images/services/idea.png");
}

.service-design::after {
  background-image: url("../images/services/web-design.png");
}

.service-nothing::after {
  background-image: url("../images/services/order.png");
}

.skills {
  margin-bottom: 80px;
  font-family: "Moulpali";
}

.skills .container {
  position: relative;
  padding: 0 150px;
}

.skills-list {
  display: inline-block;
  margin-bottom: 40px;
  list-style-type: none;
}

.skills .container::after {
  position: absolute;
  top: 70px;
  right: 150px;
  display: inline-block;
  width: 340px;
  height: 367px;
  background-image: url("../images/skills/skills-img.png");
  background-position: center;
  background-size: 340px 367px;
  background-repeat: no-repeat;
  content: "";
}

.skills-item::before {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  content: "";
}

.skills-item:first-child::before {
  background-image: url("../images/skills/html.png");
}

.skills-item:nth-child(2)::before {
  background-image: url("../images/skills/css.png");
}

.skills-item:nth-child(3)::before {
  background-image: url("../images/skills/java-script.png");
}

.skills-title {
  margin: 0;
  font-size: 34px;
  text-align: center;
}

.skill-name {
  display: inline-block;
  vertical-align: top;
  font-size: 24px;
  text-transform: uppercase;
}

.skill-range {
  position: relative;
  display: block;
  width: 500px;
  height: 28px;
  margin-bottom: 20px;
  border: 3px solid #2DAED7;
  border-radius: 40px;
}

.skill-value {
  position: absolute;
  left: 1px;
  top: 1px;
  display: block;
  height: 20px;
  background: linear-gradient(270deg, #3DB9FF 0%, rgba(126, 209, 255, 0.5) 100%);
  border-radius: 40px;
}

.skills-item:first-child .skill-value {
  width: 85%;
}

.skills-item:nth-child(2) .skill-value {
  width: 70%;
}

.skills-item:nth-child(3) .skill-value {
  width: 10%;
}

.sertificate-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: 80px;
  list-style-type: none;
}

.sertificate-item {
  display: inline-block;
}

.sertificate-item:not(:last-child) {
  margin-right: 40px;
}

.sertificate-image-link{
  display: block;
  height: min-content;
}

.sertificate-image {
  border: 5px solid #2DAED7;
}

.sertificate-image:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 40px 15px rgba(0, 0, 0, 0.25);
}

.acquaintance .container {
  display: grid;
  padding: 0 10%;
  margin-bottom: 100px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.6fr 0.1fr 0.2fr 0.1fr 0.2fr;
  justify-items: center;
}

.acquaintance-image {
  padding: 0;
  margin: 0;
  grid-column: 1/2;
  grid-row: 3/-1;
  justify-self: center;
}

.acquaintance-title {
  margin: 0;
  grid-column: 1/-1;
  grid-row: 1/2;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  text-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
}

.insection-title {
  max-width: 80%;
  padding: 0;
  margin: 30px 0;
  text-align: center;
  grid-column: 2/-1;
  grid-row: 2/3;
  font-size: 28px;
}

.insection-title:nth-of-type(2) {
  grid-row: 4/5;
}

.acquaintance-description {
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  grid-column: 2/-1;
  grid-row: 3/4;
  text-align: justify;
  line-height: 2;
}

.acquaintance-description:nth-of-type(2) {
  grid-row: 5/-1;
  margin-bottom: 0;
}

.contact {
  display: block;
  margin-bottom: 100px;
}

.contact .container {
  display: flex;
  max-width: 720px;
  padding: 40px 120px;
  text-align: center;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 20px;
  border: 4px solid #f2f3f5;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);
}

.contact-title {
  text-transform: uppercase;
}

.contact-description {
  padding: 0 60px;
  text-align: center;
}

.contact-input {
  width: 300px;
  padding: 10px;
  background-color: #EFEFEF;
  border: 2px solid #6CB9FF;
  border-radius: 10px 0px 0px 10px;
}

.contact-input:hover {
  background-color: #e2e2e2;
}

.contact-input:active {
  background-color: #e8eff8;
}

.contact-btn {
  width: 100px;
  margin-left: -5px;
  padding: 12px;
  background-color: #6CB9FF;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
}

.page-footer {
  padding: 5px;
  margin: 0;
  background-color: #e8eff8;
  z-index: 1;
}

.footer-list {
  display: flex;
  justify-content: end;
  -webkit-justify-content: flex-end;
  margin: 0;
  list-style-type: none;
}

.footer-link {
  display: inline-block;
  margin-right: 40px;
  padding: 0;
  vertical-align: middle;
  text-decoration: none;
  color: #288be6;
}

.to-top-btn {
  display: inline-block;
  margin-right: 40px;
  padding: 0;
  vertical-align: middle;
  text-decoration: none;
  color: #288be6;
  text-transform: uppercase;
  font-weight: 700;
}

.footer-link::before {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: initial;
  content: "";
}

.footer-phone::before {
  width: 18px;
  height: 19px;
  background-image: url("../images/icons/icon-phone.svg");
}

.footer-email::before {
  width: 20px;
  height: 14px;
  background-image: url("../images/icons/icon-email.svg");
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.9);
  z-index: 20;
}

.modal-open {
  display: grid;
}

.modal {
  position: relative;
  margin: auto;
  padding: 40px;
  background-color: #f2f3f5;
  filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.5));
}

.modal-terms {
  max-width: 920px;
  width: 80%;
}

.modal-close-btn {
  width: 26px;
  height: 26px;
  position: absolute;
  right: 40px;
  top: 40px;
  background-image: url("../images/icons/cross.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 26px 26px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-close-btn:hover {
  opacity: 0.6;
}

.modal-close-btn:active {
  opacity: 0.3;
}
